name: sync

on:
  schedule:
    - cron: '*/30 * * * *'

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync workflow
        uses: hostwithquantum/github-org-sync-action@0.5.4
        # for templating
        env:
          PROJECT_EMAIL: oss@planetary-quantum.com"
          PROJECT_COMPANY: "Planetary Quantum GmbH"
        with:
            github-user: ${{ secrets.GH_USER }}
            github-email: ${{ secrets.GH_EMAIL }}
            github-access-token: ${{ secrets.GH_ACCESS_TOKEN }}
            github-repos: ${{ secrets.GH_REPOS }}
